<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>FIO</th>
            <th>Phone Number</th>
            <th>Check In Time</th>
            <th>Check Out Time</th>
            <th>Action</th>
        </tr>
        <tr th:each="client : ${clients}" style="text-align: center">
            <td th:text="${client.id}" style="text-align: center"></td>
            <td th:text="${client.fio}" style="text-align: center"></td>
            <td th:text="${client.phoneNumber}" style="text-align: center"></td>
            <td th:text="${client.checkInTime}" style="text-align: center"></td>
            <td th:text="${client.checkOutTime}" style="text-align: center"></td>
            <td style="text-align: center">
                <form th:action="@{/clients/updateClient/{id}(id=${client.id})}" method="get" style="display: inline;">
                    <button type="submit">Update</button>
                </form>&nbsp;|&nbsp;
                <form th:action="@{/clients/deleteClient/{id}(id=${client.id})}" method="post" style="display: inline;">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
    </table>
</body>
</html>
